* {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #444;
}

.container {
  margin: 50px;
  border: 2px solid #aaa;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  margin: 10px auto;
  max-width: 400px;
  width: 80%;
}

.container .instruction {
  margin: 15px auto;
  width: 100%;
  text-align: center;
}

.container label,
.container input {
  display: inline;
}

.container h2 {
  margin: 15px;
  color: white;
}

.container label {
  color: white;
}

.container div.sliders {
  text-align: center;
}

.container .large {
  font-size: 22px;
}

.container button {
  padding: 5px 10px;
  border-radius: 30px;
  color: white;
  margin: 5px;
}

.container .red {
  background-color: red;
  border: 2px solid #cc3333;
}

.container button:hover {
  background-color: #dd0000;
  border-color: #bb2222;
}

.container button:active {
  background-color: #bb0000;
  border-color: #991111;
}

.container p {
  color: white;
}
